[Unit]
Description=Node Exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/mnt/e/Docs/MLOps/lab03/cs317-lab2/monitoring/node_exporter-1.8.1.linux-amd64/node_exporter \
    --path.procfs=/host/proc \
    --path.rootfs=/rootfs \
    --path.sysfs=/host/sys \
    --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)

[Install]
WantedBy=multi-user.target